        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'achatTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'achatTabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-4">
                                                    <label for="1">{{'achatReference' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'achatReference' | translate}}" id="1" [(ngModel)]="item.reference"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validAchatReference}"  />
                                                    <small class='p-error' *ngIf='!validAchatReference'>Reference est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-4">
                                                    <label for="2">{{'achatDateAchat' | translate}}</label>
                                                    <p-calendar appendTo="body" id="2"  [showTime]="true" [showSeconds]="false" placeholder="{{'achatDateAchat' | translate}}"  [(ngModel)]="item.dateAchat"
                                                            dateFormat="{{dateFormat}}"  >
                                                    </p-calendar>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-4">
                                                    <label for="3">{{'achatTotal' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="3" placeholder="{{'achatTotal' | translate}}" [(ngModel)]="item.total"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-4">
                                                    <label for="4">{{'achatTotalPaye' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="4" placeholder="{{'achatTotalPaye' | translate}}" [(ngModel)]="item.totalPaye"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-4">
                                                    <label for="5">{{'achatDescription' | translate}}</label>
                                                    <textarea id="5" pInputTextarea rows="5" cols="30" placeholder="{{'achatDescription' | translate}}"  [(ngModel)]="item.description"
                                                             ></textarea>
                                                    
                                                </div>

                                            <div class="field col-11 md:col-3">
                                                <label for="6">{{'achatFournisseur' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="fournisseurs" [(ngModel)]="item.fournisseur" id="6" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel=" nom " placeholder="{{'achatFournisseur' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                            <div class="field col-11 md:col-3">
                                                <label for="10">{{'achatStore' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="stores" [(ngModel)]="item.store" id="10" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel=" libelle " placeholder="{{'achatStore' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                </div>
                            </p-tabPanel>
                                    <p-tabPanel header="{{'Paiement achats' | translate}}">
                                        <p-tabView [(activeIndex)]="activeTab">
                                            <p-tabPanel header="Création">
                                                    <div class="grid">
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="1">Reference<span style="color: red;">*</span></label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Reference"
                                                                               id="1" [(ngModel)]="paiementAchatsElement.reference" autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validPaiementAchatsReference}"  >
                                                                        <small class='p-error' *ngIf='!validPaiementAchatsReference'>Reference est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="2">Date paiement</label>
                                                                        <p-calendar appendTo="body" id="2"  [showTime]="true" [showSeconds]="false" placeholder="Date paiement" [(ngModel)]="paiementAchatsElement.datePaiement"
                                                                                dateFormat="{{dateFormat}}" [showIcon]="true"  ></p-calendar>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="3">Montant</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="montant" placeholder="Montant"  [(ngModel)]="paiementAchatsElement.montant"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field col-11 md:col-3">
                                                                        <label>Mode paiement</label>
                                                                        <p-dropdown  appendTo="body"  [options]="modePaiements" [(ngModel)]="paiementAchatsElement.modePaiement"
                                                                                     id="5"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="libelle"
                                                                                     placeholder="Mode paiement"  >
                                                                        </p-dropdown>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="6">Description</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Description"
                                                                               id="6" [(ngModel)]="paiementAchatsElement.description" autofocus   >
                                                                        
                                                                    </div>
                                                        <div class="field col-12 md:col-1">
                                                            <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addPaiementAchats()"></button>
                                                        </div>

                                                    </div>
                                            </p-tabPanel>
                                            <p-tabPanel header="Liste {{item.paiementAchats?.length > 0 ? '(' + item.paiementAchats?.length + ')' : ''}}">
                                                    <div class="card">
                                                        <p-table [value]="item.paiementAchats" [scrollable]="true" scrollHeight="200px">
                                                            <ng-template pTemplate="header">
                                                                <tr>
                                                                                <th>Reference</th>
                                                                                <th>Date paiement</th>
                                                                                <th>Montant</th>
                                                                                <th>Mode paiement</th>
                                                                                <th>Description</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="body" let-p>
                                                                <tr>
                                                                                <td>{{p.reference}}</td>
                                                                                <td>{{p.datePaiement | date: dateFormatColumn}}</td>
                                                                                <td>{{p.montant}}</td>
                                                                            <td>{{p.modePaiement?.libelle}}</td>
                                                                                <td>{{p.description}}</td>
                                                                    <td>
                                                                        <button (click)="deletePaiementAchat(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                        <button (click)="editPaiementAchat(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </div>

                                            </p-tabPanel>
                                        </p-tabView>
                                    </p-tabPanel>

                                    <p-tabPanel header="{{'Achat items' | translate}}">
                                        <p-tabView [(activeIndex)]="activeTab">
                                            <p-tabPanel header="Création">
                                                    <div class="grid">
                                                                    <div class="field col-11 md:col-3">
                                                                        <label>Produit</label>
                                                                        <p-dropdown  appendTo="body"  [options]="produits" [(ngModel)]="achatItemsElement.produit"
                                                                                     id="1"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="libelle"
                                                                                     placeholder="Produit"  >
                                                                        </p-dropdown>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="2">Prix unitaire</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="prixUnitaire" placeholder="Prix unitaire"  [(ngModel)]="achatItemsElement.prixUnitaire"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="3">Prix vente</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="prixVente" placeholder="Prix vente"  [(ngModel)]="achatItemsElement.prixVente"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="4">Quantite</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="quantite" placeholder="Quantite"  [(ngModel)]="achatItemsElement.quantite"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="5">Quantite avoir</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="quantiteAvoir" placeholder="Quantite avoir"  [(ngModel)]="achatItemsElement.quantiteAvoir"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="6">Remise</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="remise" placeholder="Remise"  [(ngModel)]="achatItemsElement.remise"></p-inputNumber>
                                                                        
                                                                    </div>
                                                        <div class="field col-12 md:col-1">
                                                            <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addAchatItems()"></button>
                                                        </div>

                                                    </div>
                                            </p-tabPanel>
                                            <p-tabPanel header="Liste {{item.achatItems?.length > 0 ? '(' + item.achatItems?.length + ')' : ''}}">
                                                    <div class="card">
                                                        <p-table [value]="item.achatItems" [scrollable]="true" scrollHeight="200px">
                                                            <ng-template pTemplate="header">
                                                                <tr>
                                                                                <th>Produit</th>
                                                                                <th>Prix unitaire</th>
                                                                                <th>Prix vente</th>
                                                                                <th>Quantite</th>
                                                                                <th>Quantite avoir</th>
                                                                                <th>Remise</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="body" let-p>
                                                                <tr>
                                                                            <td>{{p.produit?.libelle}}</td>
                                                                                <td>{{p.prixUnitaire}}</td>
                                                                                <td>{{p.prixVente}}</td>
                                                                                <td>{{p.quantite}}</td>
                                                                                <td>{{p.quantiteAvoir}}</td>
                                                                                <td>{{p.remise}}</td>
                                                                    <td>
                                                                        <button (click)="deleteAchatItem(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                        <button (click)="editAchatItem(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </div>

                                            </p-tabPanel>
                                        </p-tabView>
                                    </p-tabPanel>

                                    <p-tabPanel header="{{'Avoir achats' | translate}}">
                                        <p-tabView [(activeIndex)]="activeTab">
                                            <p-tabPanel header="Création">
                                                    <div class="grid">
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="1">Date avoir</label>
                                                                        <p-calendar appendTo="body" id="1"  [showTime]="true" [showSeconds]="false" placeholder="Date avoir" [(ngModel)]="avoirAchatsElement.dateAvoir"
                                                                                dateFormat="{{dateFormat}}" [showIcon]="true"  ></p-calendar>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="2">Montant</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="montant" placeholder="Montant"  [(ngModel)]="avoirAchatsElement.montant"></p-inputNumber>
                                                                        
                                                                    </div>
                                                        <div class="field col-12 md:col-1">
                                                            <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addAvoirAchats()"></button>
                                                        </div>

                                                    </div>
                                            </p-tabPanel>
                                            <p-tabPanel header="Liste {{item.avoirAchats?.length > 0 ? '(' + item.avoirAchats?.length + ')' : ''}}">
                                                    <div class="card">
                                                        <p-table [value]="item.avoirAchats" [scrollable]="true" scrollHeight="200px">
                                                            <ng-template pTemplate="header">
                                                                <tr>
                                                                                <th>Date avoir</th>
                                                                                <th>Montant</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="body" let-p>
                                                                <tr>
                                                                                <td>{{p.dateAvoir | date: dateFormatColumn}}</td>
                                                                                <td>{{p.montant}}</td>
                                                                    <td>
                                                                        <button (click)="deleteAvoirAchat(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                        <button (click)="editAvoirAchat(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </div>

                                            </p-tabPanel>
                                        </p-tabView>
                                    </p-tabPanel>


                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple label="Valider"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>



    </p-dialog>
