        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'paiementVenteTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'paiementVenteTabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'paiementVenteReference' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'paiementVenteReference' | translate}}" id="1" [(ngModel)]="item.reference"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validPaiementVenteReference}"  />
                                                    <small class='p-error' *ngIf='!validPaiementVenteReference'>Reference est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'paiementVenteDatePaiement' | translate}}</label>
                                                    <p-calendar appendTo="body" id="2"  [showTime]="true" [showSeconds]="false" placeholder="{{'paiementVenteDatePaiement' | translate}}"  [(ngModel)]="item.datePaiement"
                                                            dateFormat="{{dateFormat}}"  >
                                                    </p-calendar>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'paiementVenteMontant' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="3" placeholder="{{'paiementVenteMontant' | translate}}" [(ngModel)]="item.montant"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                            <div class="field col-11 md:col-5">
                                                <label for="4">{{'paiementVenteVente' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="ventes" [(ngModel)]="item.vente" id="4" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel=" reference " placeholder="{{'paiementVenteVente' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateVente('Vente')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                            <div class="field col-11 md:col-5">
                                                <label for="5">{{'paiementVenteModePaiement' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="modePaiements" [(ngModel)]="item.modePaiement" id="5" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel=" libelle " placeholder="{{'paiementVenteModePaiement' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="field col-12 md:col-6">
                                                    <label for="6">{{'paiementVenteDescription' | translate}}</label>
                                                    <textarea id="6" pInputTextarea rows="5" cols="30" placeholder="{{'paiementVenteDescription' | translate}}"  [(ngModel)]="item.description"
                                                             ></textarea>
                                                    
                                                </div>

                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple label="Valider"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>

            <app-vente-create-admin></app-vente-create-admin>


    </p-dialog>
