        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'abonneTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'abonneTabPan' | translate}}">
                        <div class="grid">


                                        <div class="field col-12 md:col-3">
                                            <label for="1">{{'abonneCode' | translate}}}<span style="color: red;">*</span></label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'abonneCode' | translate}}}" id="1" [(ngModel)]="item.code"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validAbonneCode}"  />
                                            <small class='p-error' *ngIf='!validAbonneCode'>Code est obligatoire.</small>
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="2">{{'abonneAdresse' | translate}}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'abonneAdresse' | translate}}}" id="2" [(ngModel)]="item.adresse"
                                                     />
                                            
                                        </div>

                                        <div class="field align-inputswitch col-12  md:col-3">
                                            <div  class="label-inputswitch">
                                                <label for="3">{{'abonneBloqued' | translate}}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch   appendTo="body" id="3"  [(ngModel)]="item.bloqued"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="4">{{'abonneDateCreation' | translate}}}</label>
                                            <p-calendar appendTo="body" id="4"   [showTime]="true" [showSeconds]="false" placeholder="{{'abonneDateCreation' | translate}}}"  [(ngModel)]="item.dateCreation"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="5">{{'abonneEmail' | translate}}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'abonneEmail' | translate}}}" id="5" [(ngModel)]="item.email"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="6">{{'abonneTel' | translate}}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'abonneTel' | translate}}}" id="6" [(ngModel)]="item.tel"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="7">{{'abonneLogo' | translate}}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'abonneLogo' | translate}}}" id="7" [(ngModel)]="item.logo"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="8">{{'abonneNom' | translate}}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'abonneNom' | translate}}}" id="8" [(ngModel)]="item.nom"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="9">{{'abonnePrenom' | translate}}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'abonnePrenom' | translate}}}" id="9" [(ngModel)]="item.prenom"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="10">{{'abonneNomSociete' | translate}}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'abonneNomSociete' | translate}}}" id="10" [(ngModel)]="item.nomSociete"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="11">{{'abonnePathBackUp' | translate}}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'abonnePathBackUp' | translate}}}" id="11" [(ngModel)]="item.pathBackUp"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="12">{{'abonnePatente' | translate}}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'abonnePatente' | translate}}}" id="12" [(ngModel)]="item.patente"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="13">{{'abonneRc' | translate}}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'abonneRc' | translate}}}" id="13" [(ngModel)]="item.rc"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="14">{{'abonneCnss' | translate}}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'abonneCnss' | translate}}}" id="14" [(ngModel)]="item.cnss"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="15">{{'abonneIfisc' | translate}}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'abonneIfisc' | translate}}}" id="15" [(ngModel)]="item.ifisc"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="16">{{'abonneIce' | translate}}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'abonneIce' | translate}}}" id="16" [(ngModel)]="item.ice"
                                                     />
                                            
                                        </div>

                        </div>
                    </p-tabPanel>

                            <p-tabPanel header="{{'Societes' | translate}}">
                                <p-tabView [(activeIndex)]="activeTab">
                                    <p-tabPanel header="Création">
                                        <div class="grid">
                                                            <div class="field col-12 md:col-4">
                                                                <label for="1">Ice<span style="color: red;">*</span></label>
                                                                <input appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="Ice"
                                                                       id="1" [(ngModel)]="societesElement.ice"
                                                                       autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validSocietesIce}"  >
                                                                <small class='p-error' *ngIf='!validSocietesIce'>Ice est obligatoire.</small>
                                                            </div>
                                                            <div class="field col-12 md:col-4">
                                                                <label for="2">Siege</label>
                                                                <input appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="Siege"
                                                                       id="2" [(ngModel)]="societesElement.siege"
                                                                       autofocus   >
                                                                
                                                            </div>
                                                            <div class="field  align-inputswitch col-12 md:col-4">
                                                                <div  class="label-inputswitch">
                                                                    <label for="3">Bloqued</label>
                                                                </div>
                                                                <div class="input-switch">
                                                                    <p-inputSwitch  appendTo="body" id="3"  [(ngModel)]="societesElement.bloqued"></p-inputSwitch>
                                                                </div>
                                                            </div>
                                                <div class="field col-12 md:col-1">
                                                    <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addSocietes()"></button>
                                                </div>
                                        </div>
                                    </p-tabPanel>
                                    <p-tabPanel header="Liste {{item.societes?.length > 0 ? '(' + item.societes?.length + ')' : ''}}">
                                            <div class="card">
                                                <p-table [value]="item.societes" [scrollable]="true" scrollHeight="200px">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                                        <th>Ice</th>
                                                                        <th>Siege</th>
                                                                        <th>Bloqued</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-p>
                                                        <tr>
                                                                        <td>{{p.ice}}</td>
                                                                        <td>{{p.siege}}</td>
                                                                        <td><i *ngIf="p.bloqued" class="pi pi-check checked-toogle"></i>
                                                                            <i *ngIf="!p.bloqued" class="pi pi-times unchecked-toogle"></i>
                                                                        </td>
                                                            <td>
                                                                <button (click)="deleteSociete(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                <button (click)="editSociete(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>
                                    </p-tabPanel>
                                </p-tabView>
                            </p-tabPanel>
                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
