<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                                        <button pButton pRipple label=" {{'new' | translate}}" icon="pi pi-plus" class="p-button-success mr-2 mb-2" (click)="openCreate('Abonne')"></button>
                    <button [disabled]="isSelectionDisabled()" pButton pRipple label=" {{'delete' | translate}}" icon="pi pi-trash" class="p-button-danger mr-2 mb-2" (click)=deleteMultiple()></button>
                    <button pButton pRipple label=" {{'search' | translate}}" icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}" class="p-button-warning mr-2 mb-2" (click)="this.showSearch()"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label=" {{'export' | translate}}" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <input class="mr-2" pInputText id="1" type="text"  [(ngModel)]="criteria.codeLike">
                            <label for="1">{{'Code' | translate}}</label>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <input class="mr-2" pInputText id="2" type="text"  [(ngModel)]="criteria.adresseLike">
                            <label for="2">{{'Adresse' | translate}}</label>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-dropdown  id="3" [options]="yesOrNoBloqued" [(ngModel)]="criteria.bloqued"
                                    [filter]="false" [showClear]="true"  placeholder="{{'Bloqued' | translate}}" optionLabel="label" optionValue="value">
                            </p-dropdown>
                        </span>

                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-calendar class="mr-2" [(ngModel)]="criteria.dateCreationFrom"
                                    id="4-1"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="4-1">{{'Date creation' | translate}} Min</label>
                        </span>

                         <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-calendar class="mr-2" [(ngModel)]="criteria.dateCreationTo"
                                    id="4-2"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="4-2">{{'Date creation' | translate}} Max</label>
                        </span>

                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <input class="mr-2" pInputText id="5" type="text"  [(ngModel)]="criteria.emailLike">
                            <label for="5">{{'Email' | translate}}</label>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <input class="mr-2" pInputText id="6" type="text"  [(ngModel)]="criteria.telLike">
                            <label for="6">{{'Tel' | translate}}</label>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <input class="mr-2" pInputText id="7" type="text"  [(ngModel)]="criteria.logoLike">
                            <label for="7">{{'Logo' | translate}}</label>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <input class="mr-2" pInputText id="8" type="text"  [(ngModel)]="criteria.nomLike">
                            <label for="8">{{'Nom' | translate}}</label>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <input class="mr-2" pInputText id="9" type="text"  [(ngModel)]="criteria.prenomLike">
                            <label for="9">{{'Prenom' | translate}}</label>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <input class="mr-2" pInputText id="10" type="text"  [(ngModel)]="criteria.nomSocieteLike">
                            <label for="10">{{'Nom societe' | translate}}</label>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <input class="mr-2" pInputText id="11" type="text"  [(ngModel)]="criteria.pathBackUpLike">
                            <label for="11">{{'Path back up' | translate}}</label>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <input class="mr-2" pInputText id="12" type="text"  [(ngModel)]="criteria.patenteLike">
                            <label for="12">{{'Patente' | translate}}</label>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <input class="mr-2" pInputText id="13" type="text"  [(ngModel)]="criteria.rcLike">
                            <label for="13">{{'Rc' | translate}}</label>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <input class="mr-2" pInputText id="14" type="text"  [(ngModel)]="criteria.cnssLike">
                            <label for="14">{{'Cnss' | translate}}</label>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <input class="mr-2" pInputText id="15" type="text"  [(ngModel)]="criteria.ifiscLike">
                            <label for="15">{{'Ifisc' | translate}}</label>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <input class="mr-2" pInputText id="16" type="text"  [(ngModel)]="criteria.iceLike">
                            <label for="16">{{'Ice' | translate}}</label>
                        </span>
                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="{{'validate' | translate}}" icon="pi pi-sort-amount-down" class="p-button-info mr-2" (click)="findPaginatedByCriteria()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="items" [columns]="cols" [rows]="8" [paginator]="false"
                    [globalFilterFields]="['code', 'adresse', 'bloqued', 'dateCreation', 'email', 'tel', 'logo', 'nom', 'prenom', 'nomSociete', 'pathBackUp', 'patente', 'rc', 'cnss', 'ifisc', 'ice']" [(selection)]="selections"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                    currentPageReportTemplate="{{'Les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" selectionMode="multiple">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column flex-row justify-content-between table-header">
                        <h5 class="p-m-0">{{'abonneHeader' | translate}}</h5>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="{{'searchInput' | translate}}" (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                                
                        <th pSortableColumn="code">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Code' | translate}}</span>
                                <p-sortIcon field="code"></p-sortIcon>
                                <p-columnFilter type="text" field="element.code" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="adresse">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Adresse' | translate}}</span>
                                <p-sortIcon field="adresse"></p-sortIcon>
                                <p-columnFilter type="text" field="element.adresse" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="bloqued">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Bloqued' | translate}}</span>
                                <p-sortIcon field="bloqued"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="dateCreation">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Date creation' | translate}}</span>
                                <p-sortIcon field="dateCreation"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="email">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Email' | translate}}</span>
                                <p-sortIcon field="email"></p-sortIcon>
                                <p-columnFilter type="text" field="element.email" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="tel">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Tel' | translate}}</span>
                                <p-sortIcon field="tel"></p-sortIcon>
                                <p-columnFilter type="text" field="element.tel" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="logo">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Logo' | translate}}</span>
                                <p-sortIcon field="logo"></p-sortIcon>
                                <p-columnFilter type="text" field="element.logo" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="nom">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Nom' | translate}}</span>
                                <p-sortIcon field="nom"></p-sortIcon>
                                <p-columnFilter type="text" field="element.nom" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="prenom">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Prenom' | translate}}</span>
                                <p-sortIcon field="prenom"></p-sortIcon>
                                <p-columnFilter type="text" field="element.prenom" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                <!-- 
                        <th pSortableColumn="nomSociete">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Nom societe' | translate}}</span>
                                <p-sortIcon field="nomSociete"></p-sortIcon>
                                <p-columnFilter type="text" field="element.nomSociete" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                --> 
                                <!-- 
                        <th pSortableColumn="pathBackUp">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Path back up' | translate}}</span>
                                <p-sortIcon field="pathBackUp"></p-sortIcon>
                                <p-columnFilter type="text" field="element.pathBackUp" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                --> 
                                <!-- 
                        <th pSortableColumn="patente">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Patente' | translate}}</span>
                                <p-sortIcon field="patente"></p-sortIcon>
                                <p-columnFilter type="text" field="element.patente" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                --> 
                                <!-- 
                        <th pSortableColumn="rc">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Rc' | translate}}</span>
                                <p-sortIcon field="rc"></p-sortIcon>
                                <p-columnFilter type="text" field="element.rc" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                --> 
                                <!-- 
                        <th pSortableColumn="cnss">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Cnss' | translate}}</span>
                                <p-sortIcon field="cnss"></p-sortIcon>
                                <p-columnFilter type="text" field="element.cnss" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                --> 
                                <!-- 
                        <th pSortableColumn="ifisc">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Ifisc' | translate}}</span>
                                <p-sortIcon field="ifisc"></p-sortIcon>
                                <p-columnFilter type="text" field="element.ifisc" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                --> 
                                <!-- 
                        <th pSortableColumn="ice">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Ice' | translate}}</span>
                                <p-sortIcon field="ice"></p-sortIcon>
                                <p-columnFilter type="text" field="element.ice" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                --> 
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-element>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>
                            
                        <td>{{element.code}}</td>
                            
                            
                        <td>{{element.adresse}}</td>
                            
                            
                        <td><i *ngIf="element.bloqued" class="pi pi-check checked-toogle"></i>
                            <i *ngIf="!element.bloqued" class="pi pi-times unchecked-toogle"></i>
                        </td>
                            
                            
                        <td>{{element.dateCreation | date :'dd/MM/yyyy HH:mm' }}</td>
                            
                            
                        <td>{{element.email}}</td>
                            
                            
                        <td>{{element.tel}}</td>
                            
                            
                        <td>{{element.logo}}</td>
                            
                            
                        <td>{{element.nom}}</td>
                            
                            
                        <td>{{element.prenom}}</td>
                            
                             <!-- 
                        <td>{{element.nomSociete}}</td>
                             --> 
                             <!-- 
                        <td>{{element.pathBackUp}}</td>
                             --> 
                             <!-- 
                        <td>{{element.patente}}</td>
                             --> 
                             <!-- 
                        <td>{{element.rc}}</td>
                             --> 
                             <!-- 
                        <td>{{element.cnss}}</td>
                             --> 
                             <!-- 
                        <td>{{element.ifisc}}</td>
                             --> 
                             <!-- 
                        <td>{{element.ice}}</td>
                             --> 
                        <td>
                            <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-success mr-2" (click)="edit(element)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info mr-2" (click)="view(element)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" (click)="delete(element)"></button>
                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning" (click)="duplicate(element)"></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <p-paginator  [rows]="10" [totalRecords]="totalRecords" (onPageChange)="onPage($event)"></p-paginator>
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'abonne' : 'abonnes' : 0 }}.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-abonne-create-admin></app-abonne-create-admin>
        <app-abonne-edit-admin></app-abonne-edit-admin>
        <app-abonne-view-admin></app-abonne-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
