        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'declarationIsTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'declarationIsTabPan' | translate}}">
                        <div class="grid">


                                        <div class="field col-12 md:col-3">
                                            <label for="1">{{'declarationIsDateDeclaration' | translate}}}</label>
                                            <p-calendar appendTo="body" id="1"   [showTime]="true" [showSeconds]="false" placeholder="{{'declarationIsDateDeclaration' | translate}}}"  [(ngModel)]="item.dateDeclaration"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="2">{{'declarationIsTrimistre' | translate}}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="2"
                                                           placeholder="{{'declarationIsTrimistre' | translate}}}" [(ngModel)]="item.trimistre"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="3">{{'declarationIsAnnee' | translate}}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="3"
                                                           placeholder="{{'declarationIsAnnee' | translate}}}" [(ngModel)]="item.annee"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                    <div class="field col-11 md:col-2">
                                            <label for="4">{{'declarationIsSociete' | translate}}}</label>
                                            <p-dropdown   appendTo="body" [options]="societes" [(ngModel)]="item.societe" id="4"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel=" ice " placeholder="{{'declarationIsSociete' | translate}}}"  >
                                            </p-dropdown>
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="5">{{'declarationIsTotalCharge' | translate}}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="5"
                                                           placeholder="{{'declarationIsTotalCharge' | translate}}}" [(ngModel)]="item.totalCharge"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="6">{{'declarationIsTotalProduit' | translate}}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="6"
                                                           placeholder="{{'declarationIsTotalProduit' | translate}}}" [(ngModel)]="item.totalProduit"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="7">{{'declarationIsResultatAvantImpot' | translate}}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="7"
                                                           placeholder="{{'declarationIsResultatAvantImpot' | translate}}}" [(ngModel)]="item.resultatAvantImpot"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                    <div class="field col-11 md:col-2">
                                            <label for="8">{{'declarationIsTauxIs' | translate}}}</label>
                                            <p-dropdown   appendTo="body" [options]="tauxIss" [(ngModel)]="item.tauxIs" id="8"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel=" id " placeholder="{{'declarationIsTauxIs' | translate}}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateTauxIs('TauxIs')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="9">{{'declarationIsMontantImpot' | translate}}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="9"
                                                           placeholder="{{'declarationIsMontantImpot' | translate}}}" [(ngModel)]="item.montantImpot"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="10">{{'declarationIsResultatApresImpot' | translate}}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="10"
                                                           placeholder="{{'declarationIsResultatApresImpot' | translate}}}" [(ngModel)]="item.resultatApresImpot"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                    <div class="field col-11 md:col-2">
                                            <label for="11">{{'declarationIsComptableTraitant' | translate}}}</label>
                                            <p-dropdown   appendTo="body" [options]="comptableTraitants" [(ngModel)]="item.comptableTraitant" id="11"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel=" id " placeholder="{{'declarationIsComptableTraitant' | translate}}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateComptableTraitant('ComptableTraitant')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                    <div class="field col-11 md:col-2">
                                            <label for="12">{{'declarationIsComptableValidateur' | translate}}}</label>
                                            <p-dropdown   appendTo="body" [options]="comptableValidateurs" [(ngModel)]="item.comptableValidateur" id="12"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel=" id " placeholder="{{'declarationIsComptableValidateur' | translate}}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateComptableValidateur('ComptableValidateur')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-taux-is-create-admin></app-taux-is-create-admin>
                    <app-comptable-traitant-create-admin></app-comptable-traitant-create-admin>
                    <app-comptable-validateur-create-admin></app-comptable-validateur-create-admin>


    </p-dialog>
