
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'achatTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Information">
                <div class="grid">
                    <div class="field col-12 md:col-4">
                        <label for="1">{{'Reference' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Reference' | translate}}" autofocus  id="1" [(ngModel)]="item.reference">
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="2">{{'Date achat' | translate}}</label>
                        <p-calendar id="2" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'Date achat' | translate}}"  [(ngModel)]="item.dateAchat" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="3">{{'Total' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="3" [disabled]="true" placeholder="{{'Total' | translate}}" [(ngModel)]="item.total"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="4">{{'Total paye' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="4" [disabled]="true" placeholder="{{'Total paye' | translate}}" [(ngModel)]="item.totalPaye"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="5">{{'Description' | translate}}</label>
                        <textarea id="5" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'Description' | translate}}"  [(ngModel)]="item.description"></textarea>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="6">{{'Fournisseur' | translate}}</label>
                        <p-dropdown [options]="fournisseurs" [(ngModel)]="item.fournisseur" id="6" [disabled]="true" optionLabel="nom" placeholder="{{'Fournisseur' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="10">{{'Store' | translate}}</label>
                        <p-dropdown [options]="stores" [(ngModel)]="item.store" id="10" [disabled]="true" optionLabel="libelle" placeholder="{{'Store' | translate}}"></p-dropdown>
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="{{'Paiement achats' | translate}}">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.paiementAchats" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Reference</th>
                                        <th>Date paiement</th>
                                        <th>Montant</th>
                                        <th>Mode paiement</th>
                                        <th>Description</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.reference}}</td>
                                        <td>{{p.datePaiement | date: dateFormatColumn}}</td>
                                        <td>{{p.montant}}</td>
                                        <td>{{p.modePaiement?.libelle}}</td>
                                        <td>{{p.description}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="{{'Achat items' | translate}}">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.achatItems" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Produit</th>
                                        <th>Prix unitaire</th>
                                        <th>Prix vente</th>
                                        <th>Quantite</th>
                                        <th>Quantite avoir</th>
                                        <th>Remise</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.produit?.libelle}}</td>
                                        <td>{{p.prixUnitaire}}</td>
                                        <td>{{p.prixVente}}</td>
                                        <td>{{p.quantite}}</td>
                                        <td>{{p.quantiteAvoir}}</td>
                                        <td>{{p.remise}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="{{'Avoir achats' | translate}}">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.avoirAchats" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Date avoir</th>
                                        <th>Montant</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.dateAvoir | date: dateFormatColumn}}</td>
                                        <td>{{p.montant}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



